body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #D3D3D3;
  }
  
  header{
    z-index: 1;
    position: fixed;
    background: #09298a;
    padding: 20px;
    width: calc(100%);
    top: 0;
    height: 70px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: #fff;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #000;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    align-items: center;
  }
  
  .sidebar a:hover{
    background: #D3D3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background-color: #D3D3D3;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
   
  }
 
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }
  
  .content .card p{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
    height: 850px;
  }
  .content .row{
      display: flex;
      margin-left: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .stat-card-div{
    background: #fff;
    
  }
  .content .row .statCard{
    border-radius: 15px;
    background: #ffc524;
    padding: 20px; 
    width: 350px;
    height: 150px; 
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  p{
      text-align: center;
      font-weight: bold;
      color: #b6a9a9;
  }
  /* Responsive CSS */
  
  @media screen and (max-width: 780px){
    .sidebar{
      display: none;
    }
  
    #sidebar_btn{
      display: none;
    }
  
    .content{
      margin-left: 0;
      margin-top: 0;
      padding: 10px 20px;
      transition: 0s;
    }
  
    #check:checked ~ .content{
      margin-left: 0;
    }
  
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }
  
    .nav_bar{
      background: #222;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      display: block;
    }
  }