body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #D3D3D3;
  }
  
header{
    z-index: 1;
    position: fixed;
    background: #09298a;
    padding: 20px;
    width: calc(100%);
    top: 0;
    height: 70px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: #fff;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #000;
    display: block;
    width: 100%;
    padding-left: 30px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    align-items: center;
    text-align: justify;
  }
  
  .sidebar a:hover{
    background: #D3D3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 185px;
    width: 80px;
  }
  
  .content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background-color: #D3D3D3;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
   
  }
 
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }
  
  .content .card p{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
    height: 850px;
  }
  .content .row{
      display: flex;
      margin-left: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .content-head{
    color: rgb(71, 71, 71);
    font-size: 30px;
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
  }
  .stat-card-div{
    background: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    
  }
  .stat-card-head{
    color: rgb(102, 102, 102);
    font-size: 20px;
    text-align: left;
    margin-left: 60px;
    margin-top: 30px;
  }
  .statCard h6{
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 10px;
  }
  .statCard-h2{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 40px;
  }

  .content .row .statCard{
    border-radius: 15px;
    background: #ffc524;
    padding: 20px; 
    width: 350px;
    height: 150px; 
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

