.nav-side{
    position: relative;
    top: 150px !important;
}

.first-topic{
    position: relative;
    right: 30px;
}

.second-topic{
    position: relative;
    right: 30px;
}

.third-topic{
    position: relative;
    right: 10px;
}

.fourthTopic{
    position: relative;
    right: 45px;
}



.accordion{
    position: relative !important;
    top: 60px !important;

}

.positioning-links1{
    position: relative;
    left: 15px;
    text-decoration: none !important;
}

.positioning-links2{
    position: relative;
    left: 18px;
    
}
.positioning-links3{
    position: relative;
    left: 16px;
    
}

.positioning-links4{
    position: relative;
    left: 16px;
    
}
.positioning-links5{
    position: relative;
    left: 15px;
   
}

.positioning-links6{
    position: relative;
    left: 16px;
    
}

.positioning-link7{
    position: relative !important;
    left: 15px !important;
    
}

.positioning-link8{
    position: relative;
    left: 16px;
    
}

.positioning-link9{
    position: relative;
    left: 16px;
    
}

.positioning-link10{
    position: relative;
    left: 16px;
    
}

.positioning-link11{
    position: relative;
    left: 16px;
    
}



.sub-icons1{
    position: relative;
    right: 20px;
}

.sub-icons2{
    position: relative;
    right: 9px;
}

.sub-icons3{
    position: relative;
    right: 24px;
}

.sub-icons4{
    position: relative;
    right: 37px;
}

.sub-icons5{
    position: relative;
    right: 36px;
}

.sub-icons6{
    position: relative;
    right: 34px;
}

.sub-icons7{
    position: relative;
    right: 35px;
}

.sub-icons8{
    position: relative;
    right: 21px;
}

.sub-icons9{
    position: relative;
    right: 35px;
}

.sub-icons10{
    position: relative;
    right: 21px;
}

.sub-icons11{
    position: relative;
    right: 15px;
}



.main-logo{
    position: relative;
    height: 160px;
    width: 160px;
    top: 70px;
}




